*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    margin: 200px auto;
    width: 800px;
    height: 800px;
    border:1px solid gray ;
    position: relative;
    
}
/* .lucida{
    font-size:200px ;
    font-family: monospace, 'Times New Roman', Times, serif;
} */
.roboto{
    font-size:4500% ;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: blue;
}
/* .monserrat{
    font-size:200px ;
    font-family: 'Montserrat';
    color: aqua;
} */
/* .Quicksand{
    font-size:200px ;
    font-family: 'Quicksand';
} */